@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.custom-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.input-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}